.game-card {
    width: 240px;
    height: 200px;
    margin: 10px;
    float: left;
}

.game-card > .front {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    background: #FC0; 
    width: 240px; 
    height: 200px;
    backface-visibility: hidden;
    transition: transform .5s  linear 0s;
}

.game-card > .back {
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    border: solid 1px;
    width: 240px; 
    height: 200px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.game-card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.game-card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}